*{
    box-sizing: border-box;
}
.container{
    margin: 0% auto;
    text-align: center;
    margin-top: 200px;
    margin-left: 500px;
    background: #faf4ef;
    width: 350px;
    height: 430px;
    border-radius: 0px 0px 0px 50px;
}
.text{
    font-weight: 400;
    font-size: 36px;
    color: #4b4b4b;
    padding-top: 50px;
    padding-right: 80px;
}
.price{
    font-weight: 400;
    font-size: 22px;
    color: #737373;
    padding-bottom: 5px;
    padding-right: 200px;
}
img{
    width: 231.13px;
    height: 285px;
}